.body {
  display: flex;
  align-items: center;
  height: 500px;
}

.youtube {
  display: flex;
  align-items: center;
  margin: 16px auto 16px 48px;
}

.menu {
  margin: 16px 48px 16px auto;
  display: flex;
  align-items: center;
}